
/* .fuente{
    font-family: 'Indie Flower', cursive;
    
} */
.fuente2{
    font-size: 100px;
}
.fuente{
    background-color: rgb(25, 23, 23);
}
.textositios{
    color:#EE7888;
}
.nav-item:hover{
    border-bottom: 2px solid white;
}
