#hero{
    min-height: 100vh;
    position: relative;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
.promo{
    padding-top: 310px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.promo1{
    padding-top: 50px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    
}

p{
    color: white;
}
.colort{
    color:#45c8e9;
}
.nav-item:hover{
    border-bottom: 2px solid white;
}
.botonvisitanos{
    background-color: rgb(242, 235, 236);
}